<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/auth.css">
    <title>Регистрация</title>
</head>
<body>
    <form>
        <h1>Регистрация</h1>
        <div>
            <p>Имя</p>
            <input type="text" name="name" placeholder="Введите ваше имя"/>
        </div>
        <div>
            <p>Email</p>
            <input type="email" name="email" placeholder="Введите ваш email"/>
        </div>
        <div>
            <p>Логин</p>
            <input type="text" name="login" placeholder="Введите ваш логин" />
        </div>
        <div>
            <p>Пароль</p>
            <input type="password" name="password" placeholder="Введите ваш пароль"/>
        </div>
        <div>
            <p>Повторите ваш пароль</p>
            <input type="password" name="conPassword" placeholder="Это очень важно" />
        </div>
        <input class="button__input" type="submit" name="button" value="Регистрация">
    </form>
    <script type="module" src="../js/registr.js"></script>
</body>
</html>